html,
body,
.container-fluid {
  height: 100%;
}
.pull-bottom {
  height: 100%;
}
.container-fluid {
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.container-fluid #chat-messages {
  flex: 1;
}
.container-fluid #chat-messages .eoger {
  max-width: 50%;
  background-color: #80b3ff;
  margin-left: 10px;
}
.container-fluid #chat-messages .visitor {
  max-width: 50%;
  background-color: #ffc2ce;
  margin-right: 10px;
}
.container-fluid #chat-input {
  margin-top: 5px;
}
.container-fluid #chat-input form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container-fluid #chat-input form input {
  flex: 1;
}
.container-fluid #chat-input form button {
  margin-left: 5px;
}
