@import "//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.5.7/perfect-scrollbar.min.css";
@import "flex-mixins.less";

.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

html, body, #app, .container-fluid {
  height: 100%;
}

.container-fluid {
  padding: 15px;
  .flex();
  .flex-direction(column);

  #chat-messages {
    flex: 1;
    overflow: auto;

    .panel {

      .panel-body {

        .scroll-wrapper {

          @message-margin: 10px;
          .message(@bgcolor) {
            max-width: 50%;
            background-color: @bgcolor;
          }

          .eoger {
            .message(#80B3FF);
            margin-left: @message-margin;
          }

          .visitor {
            .message(#FFC2CE);
            margin-right: @message-margin;
          }
        }
      }
    }
  }

  #chat-input {
    margin-top: 20px;

    form {
      .flex;

      input {
        flex: 1;
      }

      button {
        margin-left: 5px;
      }
    }
  }
}